body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.container { 
   
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   
    }

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc
 }
 .header-div {
    display: flex;
 }

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;

}

h1,
h2,
h4,
h3,
h5,
h6,p {
    margin-top: 0;
    margin-bottom: 0;
}


ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    background-color: #4d5ae5;
    border-radius: 4px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
    
.web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}
span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42 ;
    margin-right: 76px;
   
 }
 .nav {
    display: flex;
    align-items: center; 
}
.navigation { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.link:hover {
    color: #404bbf
}
.link:focus {
    color: #404bbf
}
.contacts {
    display: flex; 
    gap: 40px;
    
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    margin-right: 40px ;
    margin-left: 332px;
}
.contact-link-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    margin-right: 0;
    margin-left: 40px;
}
.contact-link:hover {
    color:#404bbf
}
.contact-link:focus {
    color:#404bbf
}
.section-one {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    padding: 188px 0;
}
.section-two {
    padding: 120px 0;
}
.list {
    display: flex;
    gap: 24px;
}
.list-content {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
h3 {
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
}
.mainlogo {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
}
.button:focus {
    background-color: #404bbf;
}
.button:hover {
    background-color: #404bbf;
}
.section-three {
    background-color: #F4F4FD;
    padding: 120px 0 ;

}
.section-four {
    padding: 120px 0 120px 0;
}
.listofportfolio {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
}

h2 {
    margin-bottom: 72px;
}
.team-list {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-top-left-radius: 0px; border-top-right-radius: 0px ; border-top-right-radius: 4px; border-bottom-left-radius:4px;
      }
  
.listofteam {
    display: flex;
    gap: 24px;
}
.personaldaten {
    padding: 32px 0;
}
.portfolio-list {
    background-color: #F4F4FD;
    width: calc((100% - 48px) / 3)
}
.app-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.page-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
.page-tittle-two {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:  #2e2f42;
}
.page-tittle-three {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:  #2e2f42;
    margin-bottom: 72px; 
}
.tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-tittle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.item-class {
        background-color: #FFFFFF;
}
.foto-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.foto-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.foto-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.foto-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}